<?xml version="1.0" encoding="ASCII"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Book BAM</display-name>
	
  <context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
	</context-param>
	
  <listener>
		<listener-class>org.bpmnwithactiviti.chapter14.bam.EsperStatementsCreator</listener-class>
	</listener>
	
  <servlet>
		<display-name>CXF JAX-RS Servlet</display-name>
		<servlet-name>CXFJAX-RSServlet</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
		<init-param>
			<param-name>jaxrs.serviceClasses</param-name>
			<param-value>org.bpmnwithactiviti.chapter14.bam.EventResource</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>Vaadin Application Servlet</display-name>
		<servlet-name>VaadinApplicationServlet</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>org.bpmnwithactiviti.chapter14.bam.BAMApplication</param-value>
		</init-param>
		<init-param>
			<param-name>widgetset</param-name>
			<param-value>CustomWidgetSet</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>CXFJAX-RSServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VaadinApplicationServlet</servlet-name>
		<url-pattern>/ui/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VaadinApplicationServlet</servlet-name>
		<url-pattern>/VAADIN/*</url-pattern>
	</servlet-mapping>
</web-app>